<!-- Blog Post Card -->
<div class="post-header">
  <!-- Blog Post Header -->
  <div class="navbar-dark bg-dark d-flex justify-content-between align-items-center">
    <!-- Blog Title -->
    <h4>{{blog.title}}</h4>
    <!-- Blog Post Information -->
    <h4 class="posted-by">Posted by: {{blog.user.name}} <br> Created: {{format_date blog.date_created}}</h4>
  </div>
</div>
<!-- Blog Post Body -->
<div class="post-content bg-danger bg-opacity-50 text-dark w-100 m-auto p-auto border border-dark border-top-0 border-4 rounded-bottom">
  <!-- Blog Content -->
  <h5>{{blog.content}}</h5>
</div>

<!-- Loop through each comment -->
{{#each comments}}
<div class="post-content my-2">
  <!-- Comment Body -->
  <div class="bg-danger bg-opacity-50 text-dark w-100 mx-auto pt-2 px-4 border border-dark border-top-5 border-5 rounded-bottom rounded-top">
    <!-- Comment Content -->
    <h5>{{content}}</h5>
    <!-- Comment Author and Date -->
    <p>-{{user.name}} on {{format_date date_created}}</p>
  </div>
</div>
{{/each}}

<!-- Comment Submission Form, visible only if logged in -->
{{#if logged_in}}
<div class="post-content my-2">
    <!-- Form Body -->
    <div class="bg-info bg-opacity-50 text-dark w-100 mx-auto pt-2 px-4 border border-dark border-top-0 border-4 rounded-bottom">
      <!-- Comment Form -->
      <form id="comment" data-blogid="{{blog.id}}">
        <div class="mb-3 text-dark">
          <label for="content" class="form-label">Comment</label>
          <textarea type="text" class="form-control" name="content"></textarea>
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn-generic">Submit</button>
      </form>
    </div>
</div>
{{/if}}

<!-- Link to the Comment JavaScript file -->
<script src="../public/js/comment.js"></script>