<!-- Main container with centered content -->
<div class="center">

  <!-- Check if there are any blogs to display -->
  {{#if blogs.length}}

    <!-- Loop through each blog post -->
    {{#each blogs}}
    <div class="card my-2">
      <a href="/dashboard/edit/{{id}}" class="post-link">
        <div class="post-header">
          <h2>{{title}}</h2>
          <p class="posted-by">Posted by {{user.name}} on {{format_date date_created}}</p>
        </div>
        <div class="post-content">
          <p>{{truncate content}}</p>
          {{#if comments.length}}
            <p>{{comments.length}} {{pluralize "comment" comments.length}}</p>
          {{/if}}
        </div>
      </a>
    </div>
    {{/each}}
  {{else}}
    <h2>No blog posts yet</h2>
  {{/if}}

  <!-- Button container -->
  <div class="center">
    <button id="grabPost" type="button" class="btn-add">
      Create New Post
    </button>
  </div>
</div>

<!-- Load dashboard JavaScript only if user is logged in -->
{{#if logged_in}}
<script defer src="/js/dashboard.js"></script>
{{/if}}