<!-- Custom style for the blog post titles -->
<style>
  .card h4 {
    color: aliceblue;
  }
</style>

<!-- Loop through each blog post in the 'blogs' array -->
{{#each blogs}}
<div class="card my-3">
  <!-- Clickable area linking to the blog post's detailed view -->
  <a href="/blog/{{id}}" class="text-decoration-none text-reset">
    <!-- Card header containing the blog title and author information -->
    <div class="card-header navbar-dark bg-dark d-flex justify-content-between align-items-center">
      <h4>{{title}}</h4> <!-- Blog title -->
      <h4 class="mt-3 ms-3">Posted by {{user.name}} on {{format_date date_created}}</h4> <!-- Author and date -->
    </div>
    <!-- Card body containing a snippet or summary of the blog content -->
    <div
      class="card-body bg-danger bg-opacity-50 text-dark w-100 m-auto p-auto border border-dark border-top-0 border-4 rounded-bottom">
      <h5>{{content}}</h5> <!-- Blog content -->
    </div>
  </a>
</div>
{{/each}}