<div class="row mb-4">
  <div class="col-md-12">
    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Posted by {{post.user.name}} on {{post.date_created}}</p>
  </div>
  <div class="col-md-12">
    <p>{{post.content}}</p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-12">
    <h2>Comments</h2>
  </div>
  <div class="col-md-12">
    {{#each post.comments as |comment|}}
    <div class="card mb-1">
      <p>{{comment.content}}</p>
      <p>- {{comment.user.name}} {{comment.date_created}}</p>
    </div>
    {{/each}}
    {{#if logged_in}}
    <button id="commentButton" class="mb-2">New Comment</button>
    <div id="createCommentModal" class="modal">
      <div class="modal-content">
        <span class="commentModalClose">&times;</span>
        <form class="post-form">
          <label>Enter Comment:</label>
          <p id="currentPost" class="d-none">{{post.id}}</p>
          <input type="text" id="add-comment" class="form-control mb-2">
          <input type="submit" value="Create" id="newCommentButton">
        </form>
      </div>
    </div>
    {{/if}}
  </div>
</div>

<script src="/js/profile.js"></script>